<h1>Index Page</h1>

<% @posts.each do |post| %>
  <div class="post_wrapper">
    <h2 class="title"><%= post.title %></h2>
    <p class="date"><%= time_ago_in_words(post.created_at) %></p>
  </div>
<% end %>
